/* body {background-image: url('../imagens/minhafoto.jpg'); 
    background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: 100% 100%} */
body {background: url("../imagens/minhafoto.jpg") center center/100% 100% no-repeat fixed;}